<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alejandroquindimil.proyectorecpm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/social_appstore_app_13"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoRecPM">
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>